{% load static %}
<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>retravail</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <nav>
        <header>
            <h3>TP WEB</h3>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </header>
        <div id="titre">
            <h1>PROGRAMMATION PYTHON</h1>
            <h3 id="h">Django</h3>
        </div>
    </nav>

</body>
</html>