{% extends 'indexe.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
    <section class="section-content">

        <div class="content">
            <div class="btn-option">
                <button class="btn-link"><a href="/sondage/">Commencer le sondage</a></button>
            </div>
            <div class="sub-content">
                {% for sond in sondage %}
                     <p> {{ sond.question }} </p>
                {% endfor %}
            </div>
        </div>
        <a href="home/">bonjour le monde</a>
    </section>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
